.reveal {
  section {
    img {
      border: none !important;
      box-shadow: none !important;
    }
  }

  .img {
    display: block;
    text-align: center;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    padding: $pad;
  }

  .full {
    width: 95%;
  }

  .img-xxl {
    width: 65%;
  }

  .img-lg {
    width: 55%;
  }

  .img-md {
    width: 45%;
  }

  .img-s {
    width: 30%;
  }

  .img-xs {
    width: 20%;
  }

  .img-icon {
    width: 10%;
  }

  .img-icon-xs {
    width: 5%;
  }

  .inline {
    display: inline-block;
  }

  .highlight {
    background-color: $pink;
    border-radius: $pad / 2;
  }

  ul li {
    margin: 20px 0;
  }

  a {
    color: $pink !important;
    &:hover {
      text-decoration: underline;
    }
  }

  h6 {
    font-size: 24px !important;
  }

  code {
    font-weight: bold;
  }

  em {
    color: $pink;
  }
}
