.reveal {
  section {
    img {
      border: none !important;
      box-shadow: none !important;
    }
  }
  .image {
    height: 100px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }

  ul li {
    margin: 20px 0;
  }
}
