.reveal {
  section {
    img {
      border: none !important;
      box-shadow: none !important;
    }
  }
  .img {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }

  .img-md {
    height: 100px;
  }

  .img-s {
    height: 70px;
  }

  .img-xs {
    height: 40px;
  }

  .inline {
    display: inline-block;
  }

  .circle {
    border: 1px solid $pink;
    border-radius: 100%;
    padding: $pad / 2
  }

  ul li {
    margin: 20px 0;
  }

  a {
    color: $pink !important;
    &:hover {
      text-decoration: underline;
    }
  }

  h6 {
    font-size: 24px !important;
  }
}
