h1,
h3 {
  text-align: center;
}

p {
  font-size: 18px;
}

span {
  font-weight: bold;
  text-transform: uppercase;
  color: #9245A8;
}

.section {
  display: inline-block;
  background-color: #EFEFEF;
  padding: 20px;
  margin: 20px;
}

a {
  background-color: #B71F73;
  padding: 5px 12px;
  color: #FFF;
  text-decoration: none;
}

a:hover {
  background-color: #DBABE8;
  color: #490645;
}
